/* Your Website Styles */
body {
	background: url(../img/gray_jean.png);
}

li	{
	list-style:none;	
}

header {
	font-family: 'Cardo', sans-serif;
	color: yellow;
}

h1{
	font-family: 'Cardo:700', serif;
	color: #000;
}

h2, h3, h4, p, li {
	font-family: 'Cardo', sans-serif;
	color:#3E3E40;

}

div {
	margin-top: -60px;	x 
}

a{
	font-family: 'cardo', sans-serif;
	color: #002434;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: yellow;
}

#skills{
	text-align: left;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}